# 기초 문법

## 코드 스타일 가이드

- 코드를 '어떻게 작성할지'에 대한 가이드라인
 - PEP8 (https://peps.python.org/pep-0008/) - 파이썬에서 제안하는 스타일 가이드
 - Google Style Guide (https://google.github.io/styleguide/pyguide.html)등 기업, 오픈소스 등에서 사용되는 스타일 가이드

### 주석(Comment)

- 한 줄 주석은 #으로 표현한다.
- 여러 줄의 주석은 한 줄씩 #을 사용하거나, """또는 """으로 표현한다.
- 다만 """ 또는 """으로 표현하는 방법은 docstring을 위해 사용한다.

In [1]:
# 이것은 주석(Comment) 입니다.

# print('hello')
print('world')

world

In [3]:
"""
multiline comment
docstring을 위해 활용
"""
print('world')

world

- 특수한 형태의 주석 - docstring
 - 함수/클래스의 설명을 작성

In [6]:
def foo():
    """이 함수는 foo입니다.
    docstring으로 함수나 클래스의 기능을 설명합니다."""

In [7]:
foo.__doc__

'이 함수는 foo입니다.\n    docstring으로 함수나 클래스의 기능을 설명합니다.'

In [8]:
foo

- 코드는 1줄에 1문장(statement)이 원칙
- 문장(statement)은 파이썬이 실행 가능(excutable)한 최소한의 코드 단위
 - 기본적으로 파이썬에서는 세미콜론(;)을 작성하지 않음
 - 한 줄로 표기할 때는 세미콜론(;)를 작성하여 표기할 수 있음

In [9]:
print('hello')
print('world')

hello
world

In [10]:
print('hello')print('world')

SyntaxError: invalid syntax (Temp/ipykernel_2464/3663863333.py, line 1)

In [12]:
# 굳이 이런 식으로 사용되지는 않는다
print('hello');print('world')

hello
world

## 데이터 타입

### 변수

- 숫자(Number)
 - int (정수, integer)
 - float (부동소수점, 실수, floating point number)
 - complex (복소수, complex number)    
<br><br>
- 문자열 (String)  
<br><br>
- 참/거짓 (Boolean)
<br><br>
- None

### 숫자 - int

- 모든 정수의 타입은 int
 - Python3 부터는 long 타입은 없고, 모두 int로 표기 됨
 - 여타 프로그래밍 언어, Python 2에서의 long은 OS기준 32/64비트
<br><br>
- 매우 큰 수를 나타낼 때 오버플로가 발생하지 않음
 - 오버플로(overflow) : 데이터 타입별로 사용할 수 있는 메모리의 크기를 넘어서는 상황
 - Arbitrary precision arithmetic(임의 정밀도 산술)을 통해  
   고정된 형태의 메모리가 아닌 가용 메모리들을 활용하여 모든 수 표현에 활용

In [14]:
import sys
sys.maxsize

9223372036854775807

In [16]:
2 ** 63 - 1

9223372036854775807

In [17]:
sys.maxsize ** 10

4455508415646675013373597242420117818453694838130159772560668808816707086990958982033203334310070688731662890013605553436739351074980172000127431349940128178077122187317837794167991459381249

In [18]:
print(type(sys.maxsize ** 10))

<class 'int'>

- 진수 표현
 - 2진수 : 0b
 - 8진수 : 0o
 - 16진수 : 0x

In [19]:
0b10

2

In [20]:
0o30

24

In [21]:
0x10

16

### 숫자 - float

- 정수가 아닌 모든 실수는 float 타입
- 부동소수점
 - 실수를 컴퓨터가 표현하는 방법 - 2진수(비트)로 숫자를 표현
 - 이 과정에서 floating point rounding error가 발행하여, 예상치 못한 결과가 발생

In [22]:
11 / 2

5.5

In [23]:
print(type(10/3))

<class 'float'>

In [24]:
10 ** 100 / 3

3.333333333333333e+99

In [25]:
1 / -10 ** 100

-1e-100

In [26]:
1e-1

0.1

In [27]:
print(type(1e-1))

<class 'float'>

#### Floating point rounding error

- 부동소수점에서 실수 연산 과정에서 발생 가능
 - 값 비교하는 과정에서 정수가 아닌 실수인 경우 주의할 것
 - 매우 작은 수보다 작은지를 확인하거나 math 모듈 활용

In [29]:
# 왼쪽의 계산 결과와 오른쪽 값은 같은 값일까요?
3.14 - 3.02 == 0.12

False

In [30]:
3.14 - 3.02

0.1200000000000001

In [ ]:
a = 3.14
b = 3.14

In [48]:
# 1. 임의의 작은 수
abs(a -b) <= 1e-10

True

In [49]:
# 2. system상의 machine epslion
import sys
print(abs(a-b) <= sys.float_info.epsilon)
print(sys.float_info.epsilon)

True
2.220446049250313e-16

In [50]:
# 3. Python 3.5 이상
import math
math.isclose(a, b)

True

### 숫자 - complex

- 실수부와 허수부로 구성된 복소수는 모두 complex 타입
 - 허수부를 j로 표현

In [52]:
a = 3 + 4j

In [53]:
print(type(a))

<class 'complex'>

In [54]:
a.real

3.0

In [55]:
a.imag

4.0

### 문자열(String)

- 모든 문자는 str 타입
- 문자열은 작은 따옴표('')나 큰 따옴표("")를 활용하여 표기
 - 문자열을 묶을 때 동일한 문장부호를 활용
 - PEP8에서는 소스코드 내에서 하나의 문장부호를 선택하여 유지하도록 함

In [56]:
print('hello')

hello

In [57]:
print(type('hello'))

<class 'str'>

In [58]:
print('철수 "안녕" ')

철수 "안녕"

In [59]:
print("철수 '안녕' ")

철수 '안녕'

####  이스케이프 스퀀스(escape sequence)

- 문자열 내에서 특정 문자나 조작을 위해서 역슬래시(\)를 활용하여 구분

![](img/escape.png)

In [61]:
print('철수 \'안녕\'')

철수 '안녕'

In [63]:
print('이 다음은 엔터.\n그리고 탭\t탭')

이 다음은 엔터.
그리고 탭	탭

#### String Interpolation

- 변수의 값을 문자열의 자리 표시자(placeholder)로 대체하는 방법(과정)
 - % - formatting
 - str.format()
 - f - strings(python3.6+)

In [64]:
name = 'Kim'
score = 4.5

In [66]:
print('Hello, %s' % name)
print('내 성적은 %d' % score)
print('내 성적은 %f' % score)

Hello, Kim
내 성적은 4
내 성적은 4.500000

In [68]:
print('Hello, {}! 성적은 {}'.format(name, score))

Hello, Kim! 성적은 4.5

In [69]:
print(f'Hello, {name}! 성적은 {score}')

Hello, Kim! 성적은 4.5

#### f - string 사용 예

In [71]:
import datetime
today = datetime.datetime.now()
print(today)

2022-04-13 15:32:31.289879

In [72]:
f'오늘은 {today: %y}년 {today: %m}월 {today : %d}일'

'오늘은  22년  04월  13일'

In [75]:
pi = 3.141592
f'원주율은 {pi : .3}. 반지름이 2일때 원의 넓이는 {pi * 2 * 2}'

'원주율은  3.14. 반지름이 2일때 원의 넓이는 12.566368'

### 참 / 거짓 Boolean

- True / False 값을 가진 타입은 bool
- 비교 / 논리 연산을 수행함에 있어서 활용됨
- 다음은 모두 False로 변환
 - 0, 0.0, ( ), [ ], { }, ' ', None

### None

- 값이 없음을 표현하기 위한 타입인 None Type

In [76]:
print(type(None))

<class 'NoneType'>

In [77]:
a = None
print(a)

None

## 타입 변환

### 자료형 반환 / 타입 변환(Type conversion, Typecasting)

- 파이썬에서 데이터 타입은 서로 변환할 수 있음
<br><br>
 - 암시적 타입 변환(Implicit)
   - 사용자가 의도하지 않고, 파이썬 내부적으로 타입 변환하는 경우
   <br><br>
 - 명시적 타입 변환(Explicit)
   - 사용자가 특정 함수를 활용하여 의도적으로 타입 변환하는 경우

### 암시적 타입 변환

- 사용자가 의도하지 않고, 파이썬 내부적으로 타입 변환하는 경우
 - bool
 - Numbers(int, float, complex)

In [78]:
True + 3

4

In [79]:
3 + 5.0

8.0

In [80]:
3 + 4j + 5

(8+4j)

### 명시적 타입 변환

- int
 - str*, float => int
 
- float
 - str*, int => float
- str
 - int, float, list, tuple, dict => str
 
<br>
* 형식(타입)에 맞는 문자열만 가능

In [81]:
# 문자열은 암시적 타입 변환이 되지 않음
'3' + 4

TypeError: can only concatenate str (not "int") to str

In [82]:
# 명시적 타입 변환이 필요함
int('3') + 4

7

In [83]:
# 정수 형식이 아닌 경우 타입 변환할 수 없음
int('3.5') + 5

ValueError: invalid literal for int() with base 10: '3.5'

In [84]:
# 문자열은 암시적 타입 변환이 되지 않음
'3.5' + 3.5

TypeError: can only concatenate str (not "float") to str

In [85]:
# 정수 형식인 경우에도 float로 타입 변환
float('3')

3.0

In [86]:
# float 형식이 아닌 경우 타입 변환할 수 없음
float('3/4') + 5.3

ValueError: could not convert string to float: '3/4'

## 변수와 식별자

> =로 저장하고, 식별자 규칙에 의해 이름을 짓는다

### 변수

- 변수는 할당 연산자(=)를 통해 값을 할당(assignment)
<br><br>
- type( )
 - 변수에 할당된 값의 타입 확인
<br><br>
- id( )
 - 변수에 할당된 값(객체)의 고유한 아이덴티티(identity)값이며, 메모리 주소를 확인

In [88]:
x = 'Hello'

In [89]:
type(x)

str

In [90]:
id(x)

1565840269872

### 할당 연산자(=)

- 같은 값을 동시에 할당할 수 있음

In [92]:
x = y = 1004
print(x, y)

1004 1004

- 다른 값을 동시에 할당할 수 있음(multiple assignment)

In [93]:
x, y = 1, 2
print(x, y)

1 2

In [94]:
# 갯수가 맞지 않는 경우
x, y = 1
x, y = 1, 2, 3

TypeError: cannot unpack non-iterable int object

#### 값 swap

- x = 10, y = 20일 때, 각각 값을 바꿔서 저장하는 코드를 작성하시오

In [95]:
x, y = 10, 20

In [96]:
temp = x
x = y
y = temp
print(x, y)

20 10

In [97]:
x, y = 10, 20

In [98]:
y,x = x, y
print(x, y)

20 10

### 식별자(Identifiers)

- 변수(박스)의 이름을 어떻게 지을 수 있을까?
- 변수, 함수, 모듈, 클래스 등을 식별하는데 사용하는 이름(name)
- 규칙
 - 식별자의 이름은 영문 알파벳, 언더스코어(_), 숫자로 구성
 - 첫 글자에 숫자가 올 수 없음
 - 길이 제한이 없고, 대소문자를 구별
 - 다음 키워드(keywords)는 예약어(reserved words)로 사용할 수 없음

![](img/reserved-words.png)

- 키워드 / 예약어

In [101]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

- 내장함수나 모듈 등의 이름으로도 만들면 안됨
 - 기존의 이름에 다른 값을 할당하게 되므로 더 이상 동작하지 않음

In [102]:
print(5)
print = 'hi'
print(5)

5

TypeError: 'str' object is not callable

## 연산자

- 산술 연산자
- 비교 연산자
- 논리 연산자
- 복합 연산자
- 기타 연산자
 - contaenation, containment test, identity, indexing / slicing

### 산술 연산자

- 기본적인 사칙연산 및 수식 계산

![](img/operations.png)

In [1]:
print(5 / 2)
print(4 / 2) # 나눗셈은 항상 결과가 flaot
print(5 // 2)
print(int(5 / 2))
print(5 % 2)

2.5
2.0
2
2
1

In [2]:
print(divmod(5, 2))
quotient, remainder = divmod(5, 2)
print(quotient, remainder)

(2, 1)
2 1

### 비교 연산자

- 값을 비교하며, Ture / False 값을 리턴함

![](img/operations2.png)

In [3]:
3 > 6

False

In [4]:
3.0 == 3

True

In [5]:
3 >= 0

True

In [6]:
'3' != 3

True

In [7]:
'Hi' == 'hi'

False

In [8]:
# 특정 변수가 비어 있는지 확인하기 위해서는
# x == None이 아닌 x is None을 쓰는 것을 권장한다
x = 3
x is None

False

### 논리 연산자

![](img/operations3.png)

In [9]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [10]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [11]:
print(not True)
print(not 0)
print(not 'hi')

False
True
False

- 일반적으로 비교 연산자와 함께 사용됨

In [12]:
num = 100
num >= 100 and num % 3 == 1

True

- 결과가 확실한 경우 두번째 값은 확인하지 않음
 - and 연산에서 첫번째 값이 False인 경우 무조건 False => 첫번째 값 변환
 - or 연산에서 첫번째 값이 True인 경우 무조선 True => 첫번째 값 반환

In [13]:
a = 5 and 4
print(a)

4

In [17]:
b = 5 or 3
print(b)

5

In [15]:
c = 0 and 5
print(c)

0

In [16]:
d = 5 or 0
print(d)

5

In [18]:
print(3 and 5)
print(3 and 0)
print(0 and 3)
print(0 and 0)

5
0
0
0

In [19]:
print(5 or 3)
print(3 or 0)
print(0 or 3)
print(0 or 0)

5
3
3
0

### 복합 연산자

- 복합 연산자는 연산과 대입이 함께 이루어짐

![](img/operations4.png)

- 복합 연산자는 연산과 대입이 함께 이루어짐
 - 예시) 반복문을 통해서 개수를 카운트하는 경우

In [21]:
cnt = 100
cnt += 1
print(cnt)

101

In [22]:
cnt = 0
while cnt < 3:
    print(cnt)
    cnt += 1

0
1
2

#### Concatenation

- +는 숫자가 아닌 자료형에서도 사용 가능함
 - 컨테이너, OOP에서 연산자의 다양한 활용을 확인

In [23]:
'hello, ' + 'world !'

'hello, world !'

#### Containment Test

- 특정 요소가 속해 있는지 여부를 확인

In [24]:
'a' in 'apple'

True

#### Identity

- is 연산자를 통해 동일한 객체(object)인지 확인 가능함
 - OOP에서 추가 학습

In [26]:
# 파이썬에서 -5부터 256까지 숫자의 id는 동일
a = 3
b = 3
print(a is b)
print(id(a), id(d))

True
2037776410992 2037776411056

In [27]:
c = 257
d = 257
print(c is d)
print(id(c), id(d))

False
2037856527664 2037856527568

In [28]:
# 특정 변수가 비어 있는지 확인하기 위해서는 
# x == None이 아닌 x is None을 쓰는 것을 권장
x = 3
x is None

False

#### Indexing / Slicing

- [ ]를 통해 값을 접근하고, [ : ]를 통해 슬라이싱 가능함
 - 컨테이너에서 추가 학습

In [29]:
'hello, world!'[0]

'h'

In [30]:
'hello, world!'[1:5]

'ello'

#### 연산자 우선 순위

- 다음은 주요 연산자의 우선 순위이며, 작성시 유의할 것
 - ( )
 - Slicing
 - Indexing
 - **
 - 단항 연산자( +, - ) : 부호
 - 산술 연산자( *, /, % )
 - 산술 연산자( +, - )
 - 비교 연산자 in, is
 - not
 - and
 - or

- 실습문제

In [31]:
'apple'[0] in 'world' and -3**3*0 > 4 % 2

False

### 표현식 / 문장

### 표현식, 식(expression)

- 표현식은 평가(evaluate)되고, 값으로 변경
- 하나의 값으로 환원(reduce)될 수 있는 문장
- 식별자, 값, 연산자로 구성

In [32]:
# 표현식에 대해 알아봅시다

In [33]:
# 하나의 값(Value)도 표현식(Expression)이 될 수 있습니다.
'hello'

'hello'

In [34]:
# 표현식은 하나의 값으로 평가(evaluate)될 수 있어야 합니다.
# 그러면 할당문(assignment statement)은 표현식일까요?
radius = 10

In [35]:
# 식별자가 값이 할당되어 있는 경우 수식의 일부가 될 수 있습니다.
3.14 * (radius - 5) ** 2

78.5

In [36]:
# 표현식을 만드는 문법(syntax)은 일반적인 (중위표기) 수식의 규칙과 유사합니다.
# 아래와 같은 문장은 표현식이 될 수 없습니다.
4 +

SyntaxError: invalid syntax (Temp/ipykernel_1636/774505932.py, line 3)

### 문, 문장(Statement)

- 파이썬이 실행 가능한 최소한의 코드 단위
- 모든 표현식(expression)은 문장(statement)
 - 표현식이 아닌 문장이 존재함 - 예) del 5

In [37]:
# 하나의 값(Value)도 문장이 될 수 있습니다.
'hello'

'hello'

In [38]:
# 표현식(Expression)도 문장이 될 수 있습니다.
5 * 21 - 4

101

In [39]:
# 실행 가능(excutable) 해야 하기 때문에 아래의 코드는 문장이 될 수 없습니다.

In [41]:
name = '

SyntaxError: EOL while scanning string literal (Temp/ipykernel_1636/1994775210.py, line 1)

### 상관관계

![](img/correlation.png)

![](img/correlation2.png)